.articulos{
   
    &--notas{
        padding-top: 110px;


        &--buttons{
            border-left: 1px solid $primario;
            justify-content: space-around;
            display: flex;

            button{
                width: 26px;
                height: 26px;
                border: none;
            }

            #boton-search{
                background: url("../../img/icon-search.svg") no-repeat center / contain;
            }

            #boton-user{
                background: url("../../img/icon-user.svg") no-repeat center / contain;
            }
        }


        #row-filtros{
            position: sticky;
            top: 60px;
            z-index: 1;
        }

        &--filtros{
            background: #fff;
            margin: 20px auto 30px;
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
            justify-content: space-around;
        }


        &--title-cat{
            h3{
                padding-left: 30px;
                margin-bottom: 40px;
                @include tituloLine;

                &:before{
                    left: -15px;
                }
            }
            
        }

        &--card{
           overflow: hidden;
            &--datos{
                &:before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0%;
                    width: 90%;
                    height: 70%;
                    background: #FFF;
                    box-shadow: 0 0 9px 0 rgba(0,0,0,.16);
                    right: 0;
                    margin: auto;
                    border-radius: 5px;
                    z-index: -1
                }
            }

        }

    }

    &--mas{
        h5{
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            width: max-content;
            margin: auto;

            &:after{
                content:"";
                background:  url("../../img/icon-arrow-verde.svg") no-repeat center / contain;
                width: 20px;
                height: 20px;
                display: block;
                transform: rotate(90deg);
                transition: .2s ease-in-out all;
            }
        }
    }

    &--item{
        margin-bottom: 50px;
    }

  
        
}

&.articulos{
    #mancha1{
        width: 440px;
        left: 0;
        transform: rotateY(0) translate(-290px,50px) scale(.5);
        position: fixed;
        z-index: -2;
    }

    #mancha2{
        width: 450px;
        right: 0;
        transform: rotateY(180deg) rotateZ(200deg) translate(280px,120px) scale(.5);
        z-index: -1;
    }

    #mancha3{
        width: 450px;
        right: 0;
        top: 50%;
        transform: rotateY(0deg) rotateZ(100deg) translate(0,-280px) scale(.5);
        z-index: -1;
        position: fixed;
    }

    #mancha4{
        width: 450px;
        left: 0;
        transform: rotateY(180deg) rotateZ(10deg) translate(250px,50px) scale(0);
        bottom: 0;
        z-index: -2;
    }
}