&.contacto{
    padding-top: 110px;

    #mancha1{
        width: 200px;
        left: 0;
        transform: rotateY(180deg) rotateZ(10deg) translate(100px,-100px) scale(.4);
    }

    #mancha2{
        width: 450px;
        right: 0;
        transform: rotateY(180deg) rotateZ(200deg) translate(280px,180px) scale(.3);
        z-index: -1;
    }

    #mancha3{
        width: 200px;
        left: 0;
        bottom: 0;
        transform: rotateY(0deg) rotateZ(-10deg) translate(-120px,0) scale(0);
    }
}

.contacto{

    &--section{
        
        position: relative;

        h1{
            @extend %h2;
            margin-bottom: 15px;
            @include tituloLine;
            padding-left: 30px;
    
            &:before{
                left: -15px;
            }
        }

        &--form{
            .cajaInput{
                margin: 20px auto;
            }
        
            .boton{
                width: 50%;
                max-width: 200px;
                margin: 5px auto;
            }
        }

        &--back{
            position: absolute;
            bottom: 0;
            opacity: .1;
            z-index: -1;
            transform: rotateY(180deg);

            img{
                transform: scale(1.5);
            }
        }

        &--organigrama{
            padding: 20px 0 0;
            margin-top: 30px;
            margin-bottom: 0px;
            text-align: center;

            img{
                width: 100%;
                
            }
        }
    }
}