.header{
    // background: url("../../img/back-header.svg") no-repeat center / cover;
    min-height: 90px;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    background: rgba(21, 86, 40, 0.9);
    clip-path: url(#maskHeader);

    &.headerOn{
        background: rgba(21, 86, 40, .98) !important;

        .header--navegacion{
            .btn{
                background: url("../img/icon-close.svg") no-repeat center / 30px;
                
            }
        }
    }

    .container{
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        display: flex;
        padding-top: 5px;

        .row{
            width: 100%;

            [class*="col-"]{
                padding: 0;
            }
        }
    }

    
    &--logo{
        img{
            max-width: 100%;
        }
    }
    
    &--navegacion{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        
        .btn{
            width: 40px;
            height: 40px;
            background: url("../../img/icon-burguer.svg") no-repeat center / 30px;
            transition: .2s ease-in-out all;
        }
    }

    #navbarNav{
        padding: 20px 15px;
        opacity: 1;
        

        ul{
            max-width: 720px;
            padding:0;
            margin: 20px auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            li{
                text-align: right;
                list-style: none;
                margin-bottom: 20px;
                transition: .3s ease-in-out all;
                font-size: 20px;
                width: max-content;
                color: #fff;
                text-transform: uppercase;
                font-size:calc(16px + 2 * ((100vw - 320px) / 992));
                position: relative;

                a{
                    color: inherit;
                }

                &.menuActivo{
                    
                    
                    a{
                        font-family: $primaria-bold;
                    }
                    
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        height: 1px;
                        width: 50%;
                        background: #fff;
                    }
                    
                }

                &:before{
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    height: 1px;
                    width: 0%;
                    background: #fff;
                    transition: .3s ease-in-out all;
                }

                &:hover{
                    &:before{
                        width: 50%;
                    }
                }

            }

          
        }

        &--redes{
            img{
                margin: 10px;
                transition: .3s ease-in-out all;

                &:hover{
                    transform: scale(1.1);
                }
            }
            &:before{
                display: none;
            }
        }
    }
    
}