
body {

    @media (min-width:992px) {

        %h1 {
            font-size:calc(40px + 10 * ((100vw - 992px) / 1280));
            line-height:calc(50px + 10 * ((100vw - 992px) / 1280));
        }

        //// HEADER

        .header{
            height: 110px;
            
            .container{
                align-items: baseline;
            }

            &--logo{
                align-self: flex-start;

                img{
                    max-width: 100%;
                }
            }
            
            &--navegacion {
                .navbar-expand-lg{
                    width: 100%;
                }
            }

            #navbarNav{
                position: relative;
                top: auto;
                left: auto;
                width: auto;
                padding: initial;
                background: transparent;
                align-self: flex-end;

                ul{
                    max-width: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    
                    li{
                        margin:0 15px 0 0;

                    }
                }

                &--redes{
                    img{
                        margin: 0 10px;
                    }
                }
            }
        }


        /// HOME

        
        .home--hero {
            
            [class*="col-"]{
                height: 650px;
            }
        }


        .home--noticias{
            &--notas{
                &__nota{
                    height: 315px;
                }
            }
        }


        .home--aplicacion{
            &--cards{
                &#app-industrial{
                    flex-direction: row-reverse;
                }
            }
        }

        #modal-newsletter{
            form{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .cajaInput{
                margin: 20px 10px;
                flex: 0 0 40%
            }
        
            .boton{
                flex: 0 0 100%
            }
        
            .mancha{
                top:40%;
                right: -20%;
                transform: scale(1);
            }
            
        }



        /// NOTICIAS

        .noticias--hero{
            padding-top: 150px;

            &--datos{
                box-shadow: none;

                &:before{
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: -100px;
                    width: 115%;
                    height: 100%;
                    border-radius: 5px;
                    box-shadow: 0 0 9px 0 rgba(0,0,0,0.16);
                    z-index: -1;
                }
            }
        }

        .noticias--notas{

            &--card{
                display: flex;
                flex-direction: row;
                justify-content: flex-start !important; 
                cursor: pointer;

                &--img{
                    width: 40%;
                }

                &--datos{
                    width: 60%;
                    margin: 0;
                    padding: 0 35px;
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: 30%;
                    width: 70%;
                    height: 110%;
                    background: #FFFFFF;
                    z-index: -1;
                    transition: .3s ease-in-out all;
                }

                &:hover{
                    &:before{
                        box-shadow: 0 0 9px 0 rgba(0,0,0,0.16);
                    }
                }
            }
        

        }


        /// MULTIMEDIA

        .multimedia--hero {
            
            [class*="col-"]{
                height: 650px;
            }
        }

        .multimedia--carrusel{
            margin-bottom: 80px;

            &--videos{
                order: 2;
            }

            $altoVideo: calc(410px + 10 * ((100vw - 992px) / 1920));

            &__video{
                width: 660px;

                iframe, video{
                    height:$altoVideo;
                    border-radius: 10px;
                }
                
            }

            &--filtros{
                order: 1;
                box-shadow: none;
                margin-top: 0;
                position: relative;
                justify-content: space-evenly;
                margin-bottom: 50px;

                &__item{
                    display: flex;
                    justify-content: center;
                    flex-direction: row-reverse;
                    cursor: pointer;
                    border-radius: 30px;
                    padding:10px;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
                    position: relative;
                    transition: .5s ease-in-out all;
                    

                    h5{
                        display: block;
                        position: absolute;
                        overflow: hidden;
                        bottom: -25px;
                        height: 0;
                        opacity: 0;
                        transition: .3s ease-in-out all;
                    }

                    &:hover{
                        transform: translateY(-15px);
                        h5{
                            opacity: 1;
                            height: 25px;
                            
                        }
                    }
                }
            }

        }


        /// ARTICULOS

        .articulos{
            &--notas{

                padding-top: 150px;

                &--title{
                    order:2;
                }

                &--buttons{
                    order:4;
                }

                &--filtros{
                    order:3;
                    margin-bottom: 0;
                }

                &--title-cat{
                    order:1;
                }

                &--card{
                    cursor: auto;

                    &:before{
                        box-shadow: 0 0 9px 0 rgba(0,0,0,.16);
                        height: 120%;
                    }

                    .noticias--notas--card--img{
                        height: 255px;
                    }

                    &--datos{
                        &:before{
                            display: none;
                        }
                    }
                }
                
            }

            &--item{
                margin: 50px auto;
            }
            

        }


        /// CONTACTO

        .contacto{
            &--section{
                
                &--form{
                    order: 2;

                    form{
                        width: 85%;
                        margin-left: 30px;
                    }
                }

                &--back{
                    order: 1;
                    position: relative;
                    opacity: 1;
                    transform: rotateY(0);

                    img{
                        transform: scale(1);
                    }
                }
            }
        }


    }// 996


}