
body {

    @media (min-width:992px) {

        @mixin h1-big{
            font-size:calc(48px + 10 * ((100vw - 992px) / 1920));
            line-height:calc(58px + 10 * ((100vw - 992px) / 1920));
        }

        @mixin h1{
            font-size:calc(40px + 10 * ((100vw - 1280px) / 1920));
            line-height:calc(50px + 10 * ((100vw - 1280px) / 1920));
        }

        @mixin h2{
            font-size:calc(26px + 10 * ((100vw - 1280px) / 1920));
            line-height:calc(38px + 10 * ((100vw - 1280px) / 1920));
        }

        @mixin h3 {
            font-size:calc(22px + 10 * ((100vw - 1280px) / 1920));
            line-height:calc(32px + 10 * ((100vw - 1280px) / 1920));
        }

        @mixin h5{
            font-size:calc(18px + 10 * ((100vw - 1280px) / 1920));
            line-height:calc(26px + 10 * ((100vw - 1280px) / 1920));
        }

        @mixin h4{
            font-size:calc(16px + 19 * ((100vw - 1280px) / 1920));
            line-height:calc(22px + 19 * ((100vw - 1280px) / 1920));
        }

        @mixin h6{
            font-size:calc(14px + 10 * ((100vw - 1280px) / 1920));
            line-height:calc(22px + 10 * ((100vw - 1280px) / 1920));
        }

        @mixin min{
            font-size:calc(12px + 10 * ((100vw - 1280px) / 1920));
            line-height:calc(29px + 10 * ((100vw - 1280px) / 1920));
        }
        
        .h1-big {
            @include h1-big;
        }
        

        h1 {
            @include h1;
        }

        h2 {
            @include h2;
        }

        h3 {
            @include h3;
        }

        h4 {
            @include h4;
        }

        h6, p{
            @include h6; 
        }

        .error-input{
            @include h6;
        }


        //// HEADER

        .header{
            height: 110px;
            
            .container{
                align-items: baseline;
            }

            &--logo{
                align-self: flex-start;

                img{
                    max-width: 100%;
                }
            }
            
            &--navegacion {
                .navbar-expand-lg{
                    width: 100%;
                }
            }

            #navbarNav{
                position: relative;
                top: auto;
                left: auto;
                width: auto;
                padding: initial;
                background: transparent;
                align-self: flex-end;

                ul{
                    max-width: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    
                    li{
                        margin:0 15px 0 0;

                    }
                }

                &--redes{
                    img{
                        margin: 0 10px;
                    }
                }
            }
        }


        /// HOME

        
        .home--hero {
            
            [class*="col-"]{
                height: 650px;
            }
        }


        .home--noticias{
            margin: -150px 0 40px;

            &--title{
                h5, a{
                    @include h5;
                }
            }

            &--notas{
                
                &__nota{
                    height: 315px;
                    width: 100%;
                    max-width: 245px;

                    h4{
                        margin: 5px 0 15px;
                    }
                }
            }
        }


        .home--beneficios{
            padding: 80px 0 200px;

            img{
                left: 60px;
                position: relative;
                transform: scale(1);
            }

            &--copy {
                width: 100%;
                max-width: 550px;
                left: 38%;
                padding: 30px;

                h2{
                    font-size:calc(50px + 50 * ((100vw - 992px) / 1280));
                    line-height:calc(60px + 70 * ((100vw - 992px) / 1280));

                    span{
                        font-size:calc(75px + 40 * ((100vw - 992px) / 1280));
                        line-height:calc(85px + 90 * ((100vw - 992px) / 1280));
                    }

                    b{
                        color: #000;
                    }
                }

                .boton{
                    width: 145px;
                }
            }
        }

        .home--cita{
            display: flex;
            min-height: 450px;
            

            .container{
                align-self: center;
            }
           
            h4{
                font-size:calc(26px + 10 * ((100vw - 992px) / 1280));
                line-height:calc(38px + 10 * ((100vw - 992px) / 1280));
                margin-bottom: 30px;

                &:before{
                    width: 110px;
                    height: 100px;
                    top: -50px;
                }
            }

            &--autor{
                &--copy{
                    padding-top: 30px;
                }
                
                h6{
                    font-size:calc(14px + 10 * ((100vw - 992px) / 1280));
                    line-height:calc(22px + 10 * ((100vw - 992px) / 1280));
                }
            }

            img{
                right: calc(120px + 500 * ((100vw - 1280px) / 1920));
                max-width: 450px;
                width: 30%;
            }
        } 


        .home--aplicacion{
            padding: 80px 0;
            

            &--cards{
                align-items: flex-end;

                .col-lg-5{
                    padding: 0;
                }

                &#app-industrial{
                    flex-direction: row-reverse;
                    padding-left: 50px;
                }


                h4{
                    @include h2;
                    margin:20px 0 200px;
                }
            }
        }


        .home--info{
            padding: 50px 0;

            h3{
                @include h1;
            }

            h4{
                @include h3;
            }

            &--copy{
                &--links{
                    margin: 15px 0;

                    h5{
                        @include h6;
                    }
                }
            }

            
        }

        #modal-newsletter{
            form{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 30px 0;
                justify-content: center;
            }

            .cajaInput{
                margin: 20px 10px 10px;
                flex: 0 0 40%
            }
        
            .boton{
                flex: 0 0 100%;
                max-width: 190px;
                margin-top: 20px;
            }
        
            .mancha{
                width: 470px;
                right: 0;
                transform: rotateY(180deg) rotateZ(90deg) translate(70px,80px);
                bottom: 0;
            }

            h5{
                @include h2;
            }

            h3{
                @include h1;
                display: flex;
                position: relative;
                align-items: center;
                margin-bottom: 30px;

                &::before{
                    width: 50px;
                    left: -60px;
                    bottom: auto;
                    top: 20px;
                }
            }
            
        }


        &.home{
            #mancha1{
                width: 250px;
                left: 0;
                transform: rotateY(180deg) rotateZ(20deg) translate(110px,-120px);
            }

            #mancha2{
                width: 200px;
                right: 0;
                transform: rotateY(180deg) translate(-100px, 90px);
            }

            #mancha3{
                width: 180px;
                left: 0;
                transform: rotateY(0) rotateZ(20deg) translate(80px,200px);
                @include mancha2;
            }

            #mancha4{
                width: 250px;
                left: 0;
                transform: rotateY(0) translate(460px,-110px);
                @include mancha2;
            }

            #mancha5{
                width: 270px;
                right: 0;
                transform: rotateY(0deg) translate(150px,-300px);
            }

            #mancha6{
                width: 430px;
                right: 0;
                transform: rotateY(180deg) translate(-340px,100px);
            }

            #mancha7{
                width: 340px;
                left: 0;
                transform: rotateZ(10deg) rotateY(180deg) translate(180px,310px);
            }

            #mancha8{
                width: 360px;
                right: 0;
                transform: rotateZ(10deg) rotateY(0deg) translate(210px,-280px);
            }
        }


        /// NOTICIAS

        .noticias--hero{
            padding-top: 150px;

            &--datos{
                box-shadow: none;

                &:before{
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: -100px;
                    width: 115%;
                    height: 100%;
                    border-radius: 5px;
                    box-shadow: 0 0 9px 0 rgba(0,0,0,0.16);
                    z-index: -1;
                    background: #fff;
                }

                h1{
                    &::before {
                        left: -100px;
                        top: 25px;
                        width: 70px;
                    }
                }

                &--links{
                    justify-content: space-between;
                    flex-direction: row;

                    a{
                        margin: 0;
                    }
                }
            }
        }

        .noticias--notas{
            min-height: 500px;
            position: relative;

            &--card{
                display: flex;
                flex-direction: row;
                justify-content: flex-start !important; 
                cursor: pointer;
                padding: 0;

                &--img{
                    width: auto;
                    max-width: 190px;
                    height: 190px;
                }

                &--datos{
                    width: 60%;
                    margin: 0;
                    padding: 0 15px 0 35px;

                    h4{
                        @include h3;
                    }

                    h6:not(.noticias--notas--card--datos--desc){
                        @include min;
                    }

                    a{ 
                        @include min;
                        display: inline-flex;
                    }
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: 30%;
                    width: 70%;
                    height: 115%;
                    background: #FFFFFF;
                    z-index: -1;
                    transition: .3s ease-in-out all;
                }

                &:hover{
                    &:before{
                        box-shadow: 0 0 9px 0 rgba(0,0,0,0.16);
                    }
                }
            }
        

        }

        &.noticias{
            #mancha1{
                width: 200px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(150px,47px);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,120px);
                z-index: -1;
            }

            #mancha3{
                width: 220px;
                right: 0;
                transform: rotateY(0) rotateZ(100deg) translate(60px,-140px);
            }

            #mancha4{
                width: 270px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(170px,0);
                bottom: 40px;
            }

        }


        /// MULTIMEDIA

        .multimedia--hero {
            
            [class*="col-"]{
                height: 650px;
            }
        }

        .multimedia--carrusel{
            margin-bottom: 60px;
           
            &--videos{
                order: 2;
            }

            $altoVideo: calc(410px + 10 * ((100vw - 992px) / 1920));

            &__video{
                width: 660px;

                iframe, video{
                    height:$altoVideo;
                    border-radius: 10px;
                }

                h4{
                    @include h1;

                    &:before, &:after{
                        width: 70px;
                        margin: 0 18px;
                    }
                }
                
            }

            &--filtros{
                order: 1;
                box-shadow: none;
                margin-top: 0;
                position: relative;
                justify-content: space-evenly;
                margin-bottom: 50px;

                &__item{
                    display: flex;
                    justify-content: center;
                    flex-direction: row-reverse;
                    cursor: pointer;
                    border-radius: 30px;
                    padding:10px;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
                    position: relative;
                    transition: .5s ease-in-out all;
                    

                    h5{
                        display: block;
                        position: absolute;
                        overflow: hidden;
                        bottom: -30px;
                        height: 0;
                        opacity: 0;
                        transition: .3s ease-in-out all;
                        @include h4;
                    }

                    &:hover{
                        transform: translateY(-15px);
                        h5{
                            opacity: 1;
                            height: 25px;
                            
                        }
                    }
                }
            }

        }


        &.multimedia{
            #mancha1{
                width: 200px;
                left: 10%;
                transform: rotateY(180deg) rotateZ(10deg) translate(-20px,300px);
            }

            #mancha2{
                width: 200px;
                right: 0;
                transform: rotateY(0) rotateZ(-50deg) translate(-170px,-230px);
                z-index: -1;
            }
        }

        /// REPORTE 

        &.reporte{
            .multimedia--carrusel{
                margin-top: -100px;
                z-index: 1;
                position: relative;
            }

            #mancha2{
                opacity: .8;
            }
            
        }


        /// ARTICULOS

        .articulos{


            &--notas{
                padding-top: 150px;
                overflow: hidden;

                #rowHeader{
                    align-items: center;
                    margin: 30px 0 50px;
                }

                &--title{
                    order:2;
                    padding-right: 0;
                    h4{
                        @include h3;
                        text-align: right;
                    }
                }

                &--buttons{
                    order:4;
                    align-items: center;

                    button{
                        width: 34px;
                        height: 34px;
                    }
                }

                &--filtros{
                    order:3;
                    margin-bottom: 0;
                    height: auto;

                    .multimedia--carrusel--filtros__item{
                        box-shadow: none;
                        width: 40px;
                        height: 40px;
                        padding: 0;
                    }

                    img{
                        max-width: 100%;
                        width: 100%;
                    }
                }

                &--title-cat{
                    order:1;
                    

                    h3{
                        @include h1;
                        margin-bottom: 0;
                        padding-left: 0;

                        &:before{
                            width: 70px;
                            top: 20px;
                            left: -90px;
                            position: relative;
                            display: block;
                        }
                        
                    }
                }

                &--card{
                    cursor: auto;
                    align-items: center;

                    &:before{
                        box-shadow: 0 0 9px 0 rgba(0,0,0,.16);
                        height: 110%;
                        top: auto;
                    }

                    .noticias--notas--card--img{
                        height: 255px;
                        width: 100%;
                        max-width: 445px;
                    }

                    &--datos{
                        padding: 10px 0 10px 45px;

                        h4{
                            @include h1;

                            &:before{
                                position: relative;
                                display: block;
                                left: -50px;
                                width: 40px;
                                top: 25px;
                                z-index: -1;
                            }
                        }

                        h6{
                            @include h5;
                            height: auto;
                            margin: 20px 0;
                        }

                        a{
                            @include h4;
                        }

                        &:before{
                            display: none;
                        }
                    }
                }
                
            }

            &--item{
                margin: 50px auto 70px;
            }
            
            &--mas{
                h5{
                    @include h4;

                    &:hover{
                        &:after{
                            transform: translateY(5px) rotate(90deg);
                        }
                    }
                    
                }
            }

        }

        &.articulos{
            #mancha1{
                width: 440px;
                left: 0;
                transform: rotateY(0deg) translate(-300px,400px);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,120px);
                z-index: -1;
            }

            #mancha3{
                width: 450px;
                right: 0;
                top: 50%;
                transform: rotateY(180deg) rotateZ(100deg) translate(0,300px);
                z-index: -1;
            }

            #mancha4{
                width: 450px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(300px, -40px);
                bottom: 0;
                z-index: -1;
            }
        }

        /// CONTACTO

        .contacto{
            &--section{
                padding-top: 50px;
                overflow: hidden;
                
                h1{
                    &:before {
                        width: 70px;
                        top: 20px;
                        left: -90px;
                        position: relative;
                        display: block;
                    }
                }

                &--form{
                    order: 2;

                    form{
                        width: 85%;
                        margin-left: 30px;
                    }

                    .boton{
                        max-width: 110px;
                    }
                }

                &--back{
                    order: 1;
                    position: relative;
                    opacity: 1;
                    transform: rotateY(0);

                    img{
                        transform: scale(1.4) translateX(-50px);
                    }
                }
            }
        }

        &.contacto{
            #mancha1{
                width: 200px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(100px,-100px);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,180px);
                z-index: -1;
            }

            #mancha3{
                width: 200px;
                left: 0;
                bottom: 0;
                transform: rotateY(0deg) rotateZ(-10deg) translate(-120px,0);
            }
        }

    }// 996


    @media (min-width:1366px) {
        .home--beneficios{
            &--copy{
                max-width: 600px;
           }
        }

        &.home{
            #mancha1{
                width: 250px;
                left: 0;
                transform: rotateY(180deg) rotateZ(20deg) translate(110px,-120px) scale(1.2);
            }

            #mancha2{
                width: 200px;
                right: 0;
                transform: rotateY(180deg) translate(-100px, 90px) scale(1.2);
            }

            #mancha3{
                width: 180px;
                left: 0;
                transform: rotateY(0) rotateZ(20deg) translate(80px,200px) scale(1.2);
                @include mancha2;
            }

            #mancha4{
                width: 250px;
                left: 0;
                transform: rotateY(0) translate(460px,-110px) scale(1.2);
                @include mancha2;
            }

            #mancha5{
                width: 270px;
                right: 0;
                transform: rotateY(0deg) translate(150px,-300px) scale(1.2);
            }

            #mancha6{
                width: 430px;
                right: 0;
                transform: rotateY(180deg) translate(-340px,100px) scale(1.2);
            }

            #mancha7{
                width: 340px;
                left: 0;
                transform: rotateZ(10deg) rotateY(180deg) translate(180px,310px) scale(1.2);
            }

            #mancha8{
                width: 360px;
                right: 0;
                transform: rotateZ(10deg) rotateY(0deg) translate(210px,-320px) scale(1.2);
            }
        }


        &.noticias{
            #mancha1{
                width: 200px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(150px,47px) scale(1.2);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,120px) scale(1.2);
                z-index: -1;
            }

            #mancha3{
                width: 220px;
                right: 0;
                transform: rotateY(0) rotateZ(100deg) translate(60px,-140px) scale(1.2);
            }

            #mancha4{
                width: 270px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(170px,0) scale(1.2);
                bottom: 40px;
            }

        }

        &.articulos{
            #mancha1{
                width: 440px;
                left: 0;
                transform: rotateY(0deg) translate(-300px,400px) scale(1.2);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,120px) scale(1.2);
                z-index: -1;
            }

            #mancha3{
                width: 450px;
                right: 0;
                top: 50%;
                transform: rotateY(180deg) rotateZ(100deg) translate(0,300px) scale(1.2);
                z-index: -1;
            }

            #mancha4{
                width: 450px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(300px, -40px) scale(1.2);
                bottom: 0;
                z-index: -1;
            }
        }

        &.contacto{
            #mancha1{
                width: 200px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(100px,-100px) scale(1.2);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,180px) scale(1.2);
                z-index: -1;
            }

            #mancha3{
                width: 200px;
                left: 0;
                bottom: 0;
                transform: rotateY(0deg) rotateZ(-10deg) translate(-120px,0) scale(1.2);
            }
        }
    }//1366


    @media (min-width:1600px) {
        .home--beneficios{
            &--copy{
                max-width: 700px;
           }
        }

        &.home{
            #mancha1{
                width: 250px;
                left: 0;
                transform: rotateY(180deg) rotateZ(20deg) translate(110px,-120px) scale(1.5);
            }

            #mancha2{
                width: 200px;
                right: 0;
                transform: rotateY(180deg) translate(-100px, 90px) scale(1.5);
            }

            #mancha3{
                width: 180px;
                left: 0;
                transform: rotateY(0) rotateZ(20deg) translate(80px,200px) scale(1.5);
                @include mancha2;
            }

            #mancha4{
                width: 250px;
                left: 0;
                transform: rotateY(0) translate(460px,-110px) scale(1.5);
                @include mancha2;
            }

            #mancha5{
                width: 270px;
                right: 0;
                transform: rotateY(0deg) translate(150px,-300px) scale(1.5);
            }

            #mancha6{
                width: 430px;
                right: 0;
                transform: rotateY(180deg) translate(-340px,100px) scale(1.5);
            }

            #mancha7{
                width: 340px;
                left: 0;
                transform: rotateZ(10deg) rotateY(180deg) translate(180px,310px) scale(1.5);
            }

            #mancha8{
                width: 360px;
                right: 0;
                transform: rotateZ(10deg) rotateY(0deg) translate(210px,-350px) scale(1.5);
            }
        }

        &.articulos{
            #mancha1{
                width: 440px;
                left: 0;
                transform: rotateY(0deg) translate(-300px,400px) scale(1.5);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,120px) scale(1.5);
                z-index: -1;
            }

            #mancha3{
                width: 450px;
                right: 0;
                top: 50%;
                transform: rotateY(180deg) rotateZ(100deg) translate(0,300px) scale(1.5);
                z-index: -1;
            }

            #mancha4{
                width: 450px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(300px, -40px) scale(1.5);
                bottom: 0;
                z-index: -1;
            }
        }

        &.contacto{
            #mancha1{
                width: 200px;
                left: 0;
                transform: rotateY(180deg) rotateZ(10deg) translate(100px,-100px) scale(1.5);
            }

            #mancha2{
                width: 450px;
                right: 0;
                transform: rotateY(180deg) rotateZ(200deg) translate(280px,180px) scale(1.5);
                z-index: -1;
            }

            #mancha3{
                width: 200px;
                left: 0;
                bottom: 0;
                transform: rotateY(0deg) rotateZ(-10deg) translate(-120px,0) scale(1.5);
            }
        }
    }// 1600
}